.fade-in {
  opacity: 0;
}
.fade-in.visible {
  transition: opacity 0.4s ease-in;
  opacity: 1;
}
.vertical {
   border-left: 6px solid black;
    height: 300px;
    position: absolute;
  left: 50%;
}
.mark_seen {
  display: inline;
  cursor : pointer;
  color : red !important
}
.comment-list{
  border: 1px solid rgba(0, 0, 0, 0.23) ;
  overflow:auto;
   height :300px
}